<form role="search" method="POST" action="/tableau-de-bord/searchNotes"  class="searchNoteInput d-flex justify-content-center mt-5 px-4">

    
        <input class="container col-sm-10 col-8 px-0 py-2 ps-4 mx-0" type="search" name="search" id="search" placeholder="Rechercher..." aria-lebel="Search"/>
        <i class="icon-search bi bi-search pe-2"></i>




</form>

