<footer class="mt-auto container-fluid bg-light text-center">
    <!-- Copyright -->
    <p class="font-weight-lighter fw-light text-body-tertiary py-2 mx-2 my-0" >
        © 2023 Copyright
        <a href="https://www.linkedin.com/in/joey-bervin/">Joey Bervin</a>
    </p>
</footer>