<div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

    <!-- HEADER -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TakesNotes</h5>
        <!-- sidebar closing button -->
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

        <!-- SEARCH -->
        <% if (locals.user) { %>
            <form role="search" method="POST" action="/tableau-de-bord/searchNotes" class="d-flex mt-2 mb-4" >
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </form>
        <% } %>
        <!-- NAVIGATION -->
        <ul class="navbar-nav justify-content-end flex-grow-1">

            <!-- HOME -->
            <li class="d-flex align-items-center nav-item border rounded ps-3 py-2">
                <a class="w-100 nav-link" href="/">
                    <i class="bi bi-house me-3"></i>
                    Accueil
                </a>
            </li>

            <!-- PROFIL -->
            <li class="d-flex align-items-center nav-item border rounded ps-3 py-2 mt-3">
                <% if (locals.user) { %>
                    <a class="w-100 nav-link text-light" href="/profil">
                        <i class="bi bi-person text-light me-3"></i>
                        <span> Profil : <%= locals.user.firstName %> <%= locals.user.lastName %> </span>
                    </a>
                <% } else { %>
                    <a class="w-100 nav-link text-light" href="/connexion">
                        <i class="bi bi-box-arrow-in-right me-3 text-light"></i>

                        <span> Se connecter </span>
                    </a>
                <% } %>
            </li>

            <!-- DASHBOARD -->
            <li class="d-flex align-items-center nav-item border rounded ps-3 py-2 my-3">
                <a class="w-100 nav-link" href="/tableau-de-bord">
                    <i class="bi bi-border-all me-3"></i>
                    Dashboard
                </a>
            </li>

            <!-- ABOUT -->
            <li class="d-flex align-items-center nav-item border rounded ps-3 py-2">
                <a class="w-100 nav-link" href="/a-propos">
                    <i class="bi bi-emoji-wink me-3"></i>
                    À propos
                </a>
            </li>
        </ul>

    </div>
</div>