


<div class="container-sm d-flex flex-grow-1 px-2 my-4">
    
    <main class="mx-1">
        <h2 class="mt-4">Bonjour, <span class="text-decoration-underline ms-2"><%= locals.user.firstName %></span></h2>
        
        <div>

        </div>

    </main>
</div>
