@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --background-color: #a6c5ff;
    --bs-danger : #ffd9d9;
    --bs-success : #c6ffdc;
    --bs-primary-rgb: #23029b;
    --bs-secondary-rgb: #FB4B4E;
    --bs-link-color : #000000;
    --text-color : #000000;
    --font-size-base: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
}

* {
    box-sizing: border-box;
}
html {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    background: var(--background-color);
}
body::-webkit-scrollbar {
    display: none;
}
/* background */
body.home-page {
    background: url('../images/paper-bg-1.png') left top no-repeat, var(--background-color);
    background-size: cover;
}
h1,h2,h3,h4,h5,h6, .title {
    color: var(--bs-primary-rgb);
    font-family: 'Unbounded', cursive;
    font-weight: 800;
}
a {
    color: var(--text-color);;
}
input::-ms-clear{
    display: none;
}

/* BOUTONS */
.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary-rgb);
    --bs-btn-border-color: var(--bs-secondary-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0043a8;
    --bs-btn-hover-border-color: #0043a8;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary-rgb);
    --bs-btn-active-border-color: var(--bs-secondary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-secondary-rgb);
    --bs-btn-disabled-border-color: var(--bs-secondary-rgb);
}
.btn-outline-primary {
    --bs-btn-color: var(--bs-primary-rgb);
    --bs-btn-border-color: var(--bs-primary-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0043a8;
    --bs-btn-hover-border-color: #0043a8;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-rgb);
    --bs-btn-active-border-color: var(--bs-primary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #363636;;
    --bs-btn-disabled-bg: #bbbbbb;;
    --bs-btn-disabled-border-color: #868686;;
    --bs-gradient: none;
}
.btn-icon {
    max-width: 20px;
}
/* -> Google connection button */
.btn-google-login {
    --bs-btn-color: #000000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #505050;
    --bs-btn-hover-color: #505050;
    --bs-btn-hover-bg: #f7f7f7;
    --bs-btn-hover-border-color: #353535;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #f7f7f7;
    --bs-btn-active-border-color: #353535;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #505050;
    --bs-btn-disabled-bg: #b6b6b6;
    --bs-btn-disabled-border-color: #505050;
    --bs-gradient: none;

}
/* -> Facebook connection button */
.btn-facebook-login {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #4267b2;
    --bs-btn-border-color: #4267b2;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #2d57ac;
    --bs-btn-hover-border-color: #2d57ac;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #4267b2;
    --bs-btn-active-border-color: #4267b2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #505050;
    --bs-btn-disabled-bg: #b6b6b6;
    --bs-btn-disabled-border-color: #505050;
    --bs-gradient: none;

}


/* NAVBAR */
nav .logo {
    font-size: clamp(1.1875rem, 0.9911rem + 0.9821vw, 1.875rem);
    font-family: 'Unbounded', cursive;
    color : #FFFFFF;
}
nav .nav-icon {
    font-size: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
    -webkit-text-stroke: 1.5px;
    color: #000000;
}
nav i > p {
    font-size: clamp(0.625rem, 0.5893rem + 0.1786vw, 0.75rem);
}
nav img {
    max-width: 30px;
}
nav img + p {
    font-size: clamp(0.625rem, 0.3125rem + 1vw, 0.875rem);
    
    color: var(--bs-primary-rgb);
}

/* SIDEBAR NAVIGATION MENU */
.sidebar li {
    --bs-border-width: 1px;
    --bs-border-color: #000000;
    --bs-border-style : solid;
}
.sidebar li:hover {
    background-color: var(--background-color);
}
.sidebar ul li:nth-child(2) {
    --bs-border-color: var(--bs-secondary-rgb);
    background-color: var(--bs-secondary-rgb);
}
.sidebar li:nth-child(2):hover {
    background-color: var(--bs-primary-rgb);
    --bs-border-color: var(--bs-primary-rgb);
}


/* HOMEPAGE */

h1 {
    font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
}
h1 > span {
    background: linear-gradient(90deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}
h1::before {
    content: url('../images/stars.svg');
    position: absolute;
    left: -85px;
    top: -45px;
}
h1::after {
    content: url('../images/stars.svg');
    position: absolute;
    right: -90px;
    bottom: -45px;
}
.about {
    background-color: #ffffff8c;
}

/* PAGE : CONNEXION */

.connection-page main > div > div > div {
    height : 260px;
    min-width: 280px;
}
.connection-page main {
    max-width: 340px;
}
.errorMessage {
    background-color : #ffd9d9;
}
.successMessage {
    background-color: #c6ffdc;
}
#loader {
    
    background-color: #a6c5ffb6;
}


/* PAGE : PROFILE */
.principal-form {
    max-width : 700px;
}
.principal-form > div > div:nth-child(n)::before {
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
    position: absolute;
    top: -17px;
    left: 20px;
    padding : 5px;
    background-color: var(--background-color);
    color: #ffffff;
}
/* profile image section */
.principal-form > div > div:nth-child(2)::before {
    content: 'Photo de profil : ';
}
/* display name section */
.principal-form > div > div:nth-child(3)::before {
    content: 'Prénom & Nom : ';
}
/* mail section */
.principal-form > div > div:nth-child(4)::before {
    content: 'E-mail : ';
}
/* password section */
.principal-form > div > div:nth-child(5)::before {
    content: 'Mot de passe :';
}
/* tooltip interaction disabled section */
.principal-form > div > .updateTooltip::after {
    content: attr(data-text);
    position:absolute;
    font-size: clamp(0.5625rem, 0.3281rem + 0.75vw, 0.75rem);

    right: 0;
    top : -35px;
    
    padding: 5px 7px;
    border-radius:5px;
    background:#ebebeb;
    color: #777777;
    text-align:center;

    display:none;
    /* animation */
    opacity:0;
    transition:.3s opacity;   
}
.principal-form > div > div.updateTooltip:hover::after/* , .updateTooltip > div:hover::after */ {
    display:block;
    opacity: 1;
}
/* .updateTooltip > div::after {
    content: '';
    position: absolute;
    left: 35%;
    top : -8px;
    border: 10px solid #000;
    border-color: #ebebeb transparent transparent transparent ;
    display:none;
    opacity:0;
    transition:.3s opacity;   
} */
profile-page input {
    font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
}
label {
    font-size: clamp(0.5625rem, 0.25rem + 1vw, 0.8125rem);
}

/* DASHBOARD */

form.searchNoteInput input {
    border : none;
    border-bottom : 1px solid #000000;
    background-color: transparent;
    
}
form.searchNoteInput > input::placeholder {
    color: #00000027;
}
form.searchNoteInput > input:focus, form.searchNoteInput > input:active
{
    border : none;
    outline-offset : 0;
    border-bottom : 2px solid #000000;
    outline: none;
}
form.searchNoteInput > input:active + .icon-search , form.searchNoteInput > input:focus + .icon-search {
    display: none;
}
.icon-search{
    border-bottom : 1px solid #000000;
}
.dashboard-page h2 {
    font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
}
.dashboard-page h2 span{
    background: linear-gradient(90deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.bi-inbox {
    font-size: clamp(1.875rem, 0.1563rem + 5.5vw, 3.25rem);
}
.card-body p:last-of-type {
    font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
}
.bi-x-lg:hover {
    color: red;
    background-color: #ffd9d9;
    cursor: pointer;
}
.pagination {
    --bs-pagination-color: var(--bs-primary-rgb);
    --bs-pagination-active-bg: var(--bs-primary-rgb);
    --bs-pagination-active-border-color: var(--bs-primary-rgb);
}

/* PAGE : CREATE A NEW NOTE */
.createNote-page {

}
.noteContent {
    font-weight: 300;
    font-size: clamp(0.8125rem, 0.5781rem + 0.75vw, 1rem);
}

@media (min-width: 768px) {

    /* HOMEPAGE */
    .home {
        background: 
            url('../images/human-1.svg') left -15% bottom no-repeat,
            url('../images/human-2.svg') right -15% bottom no-repeat
        ;
        background-size: 360px 550px;
    }
    
    h1 {
        line-height: 2.5rem;
    }

    /* PAGE : CREATE A NEW NOTE */
    .createNote-page {
        
        background: url('../images/human-3.svg') left bottom no-repeat;
        background-size: 300px;
        background-color: var(--background-color);
        
    }
}

@media (min-width: 1024px) {
    /* PAGE : HOMEPAGE */
    .home {
        background: 
            url('../images/human-1.svg') left  bottom no-repeat,
            url('../images/human-2.svg') right bottom no-repeat
        ;
        background-size: fit;
    }
    
    h1 {
        line-height: 3rem;
    }

    /* PAGE : CREATE A NEW NOTE */
   
}




