<div class="about container-sm d-flex justify-content-center align-items-center flex-grow-1 px-4 my-4">
    <main class="mx-1">
        <p class="title fs-5 mt-4 text-center">À propos de TakeNotes</p>
        <div>
            <p class="text-center">
                TakeNotes est une simple application de prise de notes utilisant Nodejs,
                Express, MongoDB et Passport pour l'authentification. Pour la
                modélisation, nous utiliserons EJS et Bootstrap.
            </p>

            <div class="d-flex flex-wrap justify-content-center gap-4 mt-5">
                <ul class="ps-0">
                    <!-- title -->
                    <li class="title fs-5 list-group-item mb-2">Stack</li>
                    <!-- title -->
                    <li class="title list-group-item mb-1">Modélisation :</li>

                    <li class="list-group-item">
                        <a class="text-decoration-none" href="https://getbootstrap.com/">bootstrap</a>
                    </li>
                    <li class="list-group-item mb-2">
                        <a class="text-decoration-none" href="https://ejs.co/">ejs</a>
                    </li>
                    <!-- title -->
                    <li class="title list-group-item mb-1">Framework :</li>
                    <li class="list-group-item mb-2">
                        <a class="text-decoration-none" href="https://expressjs.com/fr/">express.js</a>
                    </li>
                    <li class="list-group-item mb-2">
                        <a class="text-decoration-none" href="https://nodejs.org/en">node.js</a>
                    </li>
                    <!-- title -->
                    <li class="title list-group-item mb-1">API :</li>
                    <li class="list-group-item mb-2">
                        <a class="text-decoration-none" href="https://cloudinary.com/">cloudinary</a>
                    </li>
                    <!-- title -->
                    <li class="title list-group-item mb-1">Base de données :</li>
                    <li class="list-group-item">
                        <a class="text-decoration-none" href="https://www.mongodb.com/">mongodb</a>
                    </li>
                </ul>

                <ul class="ps-2">
                    <!-- title -->
                    <li class="title list-group-item mb-1">Bibliothèques utilisées :</li>

                    <li class="list-group-item">
                        <a class="text-decoration-none" href="https://www.passportjs.org/">passport</a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-decoration-none" href="#">bcrypt</a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-decoration-none"
                            href="https://www.npmjs.com/package/express-ejs-layouts">express-ejs-layouts</a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-decoration-none"
                            href="https://www.npmjs.com/package/express-fileupload">express-fileupload</a>
                    </li>
                    <li class="list-group-item mb-2">
                        <a class="text-decoration-none"
                            href="https://www.npmjs.com/package/jsonwebtoken">jsonwebtoken</a>
                    </li>
                    <li class="title list-group-item mb-1">Host :</li>
                    <li class="list-group-item">
                        <a class="text-decoration-none" href="https://render.com/">render</a>
                    </li>
                    <li class="title list-group-item mb-1">Autre :</li>
                    <li class="list-group-item">
                        <a class="text-decoration-none" href="https://git-scm.com/">git</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>