
<div class="container-sm d-flex justify-content-center align-items-center flex-grow-1 px-4 my-4">
    <main class="mx-1">
        <h2><%= errorCode %></h2>
        <P><%= errorMessage %></P>

    </main>
</div>
