
<div class="home container-sm d-flex justify-content-center align-items-center flex-grow-1 px-4 my-4">
    <main class="mx-1">

        <div class="text-center">
            <h1 class="home-title position-relative mb-4 shadow rounded">N'oublie plus jamais rien ! Écris tes idées, pensées , rêves comme ils te viennent !</h1>

            <div>
                <p class="mb-0">TakesNotes est une application de prise de notes facile à utiliser.</p>
                <p class="fs-6 fw-light text-body-tertiary">Node.JS, EJS et MongoDB.</p>
            </div>

            <a href="/connexion" class="btn btn-primary btn-lg">Essaye moi ! GRATUIT</a>
        </div>


    </main>
</div>
