
<div class="home container-fluid d-flex justify-content-center align-items-center flex-grow-1 px-4 mt-4">
    <main class="col col-sm-8 col-md-6 mx-2">

        <div class="text-center">
            <h1 class="position-relative mb-4 rounded">N'oublie plus jamais rien ! Écris tes <span>idées</span>, <span>pensées</span> , <span>rêves</span> comme ils te viennent !</h1>

            <div>
                <p class="mb-0">TakeNotes est une application de prise de notes facile à utiliser.</p>
                <p class="fs-6 fw-light text-body-tertiary">Node.JS, EJS et MongoDB.</p>
            </div>

            <a href="/connexion" class="btn btn-primary btn-lg mb-4">Essaye moi ! GRATUIT</a>
        </div>


    </main>
</div>
